<div class="min-h-screen flex flex-col items-center bg-white px-4 sm:px-6 lg:px-8 pt-10">
	<div class="grid grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-x-6 gap-y-12 w-full max-w-6xl">
		<a routerLink="/bills"
			class="flex flex-col items-center group cursor-pointer">
			<div
				class="aspect-square w-full bg-gray-50 rounded-2xl shadow-md p-4 flex items-center justify-center group-hover:bg-gray-100 transition-colors">
				<div class="w-16 h-16 bg-blue-100 rounded-full flex items-center justify-center">
					<svg class="w-8 h-8 text-blue-600" fill="none" stroke="currentColor" stroke-width="2"
						viewBox="0 0 24 24">
						<path stroke-linecap="round" stroke-linejoin="round"
							d="M9 17v-2a2 2 0 012-2h2a2 2 0 012 2v2m-6 4h6a2 2 0 002-2V7a2 2 0 00-2-2H7a2 2 0 00-2 2v12a2 2 0 002 2z" />
					</svg>
				</div>
			</div>
			<span class="font-semibold text-gray-700 mt-2 h-12 flex items-center text-center">Facturas</span>
		</a>
		<a routerLink="/budgets"
			class="flex flex-col items-center group cursor-pointer">
			<div
				class="aspect-square w-full bg-gray-50 rounded-2xl shadow-md p-4 flex items-center justify-center group-hover:bg-gray-100 transition-colors">
				<div class="w-16 h-16 bg-green-100 rounded-full flex items-center justify-center">
					<svg class="w-8 h-8 text-green-600" fill="none" stroke="currentColor" stroke-width="2"
						viewBox="0 0 24 24">
						<path stroke-linecap="round" stroke-linejoin="round"
							d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
					</svg>
				</div>
			</div>
			<span class="font-semibold text-gray-700 mt-2 h-12 flex items-center text-center">Presupuestos</span>
		</a>
		<a routerLink="/clients"
			class="flex flex-col items-center group cursor-pointer">
			<div
				class="aspect-square w-full bg-gray-50 rounded-2xl shadow-md p-4 flex items-center justify-center group-hover:bg-gray-100 transition-colors">
				<div class="w-16 h-16 bg-yellow-100 rounded-full flex items-center justify-center">
					<svg class="w-8 h-8 text-yellow-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
						fill="currentColor" viewBox="0 0 24 24">
						<path fill-rule="evenodd"
							d="M12 6a3.5 3.5 0 1 0 0 7 3.5 3.5 0 0 0 0-7Zm-1.5 8a4 4 0 0 0-4 4 2 2 0 0 0 2 2h7a2 2 0 0 0 2-2 4 4 0 0 0-4-4h-3Zm6.82-3.096a5.51 5.51 0 0 0-2.797-6.293 3.5 3.5 0 1 1 2.796 6.292ZM19.5 18h.5a2 2 0 0 0 2-2 4 4 0 0 0-4-4h-1.1a5.503 5.503 0 0 1-.471.762A5.998 5.998 0 0 1 19.5 18ZM4 7.5a3.5 3.5 0 0 1 5.477-2.889 5.5 5.5 0 0 0-2.796 6.293A3.501 3.501 0 0 1 4 7.5ZM7.1 12H6a4 4 0 0 0-4 4 2 2 0 0 0 2 2h.5a5.998 5.998 0 0 1 3.071-5.238A5.505 5.505 0 0 1 7.1 12Z"
							clip-rule="evenodd" />
					</svg>
				</div>
			</div>
			<span class="font-semibold text-gray-700 mt-2 h-12 flex items-center text-center">Clientes</span>
		</a>
		<a routerLink="/items"
			class="flex flex-col items-center group cursor-pointer">
			<div
				class="aspect-square w-full bg-gray-50 rounded-2xl shadow-md p-4 flex items-center justify-center group-hover:bg-gray-100 transition-colors">
				<div class="w-16 h-16 bg-red-100 rounded-full flex items-center justify-center">
					<svg class="w-8 h-8 text-red-600" fill="none" stroke="currentColor" stroke-width="2"
						viewBox="0 0 24 24">
						<path stroke-linecap="round" stroke-linejoin="round"
							d="M20 13V7a2 2 0 00-2-2H6a2 2 0 00-2 2v6m16 0a2 2 0 01-2 2H6a2 2 0 01-2-2m16 0V17a2 2 0 01-2 2H6a2 2 0 01-2-2v-4" />
					</svg>
				</div>
			</div>
			<span class="font-semibold text-gray-700 mt-2 h-12 flex items-center text-center">Productos</span>
		</a>
		<a routerLink="/categories"
			class="flex flex-col items-center group cursor-pointer">
			<div
				class="aspect-square w-full bg-gray-50 rounded-2xl shadow-md p-4 flex items-center justify-center group-hover:bg-gray-100 transition-colors">
				<div class="w-16 h-16 bg-indigo-100 rounded-full flex items-center justify-center">
					<svg class="w-8 h-8 text-indigo-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
						fill="none" viewBox="0 0 24 24">
						<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
							d="M12 11H4m15.5 5a.5.5 0 0 0 .5-.5V8a1 1 0 0 0-1-1h-3.75a1 1 0 0 1-.829-.44l-1.436-2.12a1 1 0 0 0-.828-.44H8a1 1 0 0 0-1 1M4 9v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-7a1 1 0 0 0-1-1h-3.75a1 1 0 0 1-.829-.44L9.985 8.44A1 1 0 0 0 9.157 8H5a1 1 0 0 0-1 1Z" />
					</svg>
				</div>
			</div>
			<span class="font-semibold text-gray-700 mt-2 h-12 flex items-center text-center">Categorías</span>
		</a>
		<a routerLink="/suppliers"
			class="flex flex-col items-center group cursor-pointer">
			<div
				class="aspect-square w-full bg-gray-50 rounded-2xl shadow-md p-4 flex items-center justify-center group-hover:bg-gray-100 transition-colors">
				<div class="w-16 h-16 bg-cyan-100 rounded-full flex items-center justify-center">
					<svg class="w-8 h-8 text-cyan-600" fill="none" stroke="currentColor" stroke-width="2"
						viewBox="0 0 24 24">
						<path stroke-linecap="round" stroke-linejoin="round"
							d="M17 20h5v-2a4 4 0 00-3-3.87M9 20h6M3 20h5v-2a4 4 0 013-3.87M16 7a4 4 0 11-8 0 4 4 0 018 0z" />
					</svg>
				</div>
			</div>
			<span class="font-semibold text-gray-700 mt-2 h-12 flex items-center text-center">Proveedores</span>
		</a>
		<a routerLink="/purchaseReports"
			class="flex flex-col items-center group cursor-pointer">
			<div
				class="aspect-square w-full bg-gray-50 rounded-2xl shadow-md p-4 flex items-center justify-center group-hover:bg-gray-100 transition-colors">
				<div class="w-16 h-16 bg-gray-200 rounded-full flex items-center justify-center">
					<svg class="w-8 h-8 text-gray-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
						fill="none" viewBox="0 0 24 24">
						<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
							d="M8 6h8M6 10h12M8 14h8M6 18h12" />
					</svg>
				</div>
			</div>
			<span class="font-semibold text-gray-700 mt-2 h-12 flex items-center text-center">Informes de Compra</span>
		</a>
	</div>
</div>