<div class="min-h-screen flex flex-col items-center justify-center bg-white px-8 sm:px-6 md:px-12">
	<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-2 gap-6 w-full max-w-5xl">
		<a routerLink="/bills"
			class="bg-blue-300 rounded-xl shadow-lg p-6 flex flex-col items-center justify-center hover:bg-blue-200 transition cursor-pointer">
			<svg class="w-10 h-10 mb-2 text-primary-700 dark:text-primary-400" fill="none" stroke="currentColor"
				stroke-width="2" viewBox="0 0 24 24">
				<path stroke-linecap="round" stroke-linejoin="round"
					d="M9 17v-2a2 2 0 012-2h2a2 2 0 012 2v2m-6 4h6a2 2 0 002-2V7a2 2 0 00-2-2H7a2 2 0 00-2 2v12a2 2 0 002 2z" />
			</svg>
			<span class="font-semibold text-lg">Facturas</span>
		</a>
		<a routerLink="/budgets"
			class="bg-green-300 rounded-xl shadow-lg p-6 flex flex-col items-center justify-center hover:bg-green-200 transition cursor-pointer">
			<svg class="w-10 h-10 mb-2 text-primary-700 dark:text-primary-400" fill="none" stroke="currentColor"
				stroke-width="2" viewBox="0 0 24 24">
				<path stroke-linecap="round" stroke-linejoin="round"
					d="M3 7v4a1 1 0 001 1h3m10-5v4a1 1 0 01-1 1h-3m-4 4h4m-4 4h4" />
			</svg>
			<span class="font-semibold text-lg">Presupuestos</span>
		</a>
		<a routerLink="/clients"
			class="bg-yellow-300 rounded-xl shadow-lg p-6 flex flex-col items-center justify-center hover:bg-yellow-200 transition cursor-pointer">
			<svg class="w-10 h-10 text-gray-800 dark:text-black" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
				width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
				<path fill-rule="evenodd"
					d="M12 6a3.5 3.5 0 1 0 0 7 3.5 3.5 0 0 0 0-7Zm-1.5 8a4 4 0 0 0-4 4 2 2 0 0 0 2 2h7a2 2 0 0 0 2-2 4 4 0 0 0-4-4h-3Zm6.82-3.096a5.51 5.51 0 0 0-2.797-6.293 3.5 3.5 0 1 1 2.796 6.292ZM19.5 18h.5a2 2 0 0 0 2-2 4 4 0 0 0-4-4h-1.1a5.503 5.503 0 0 1-.471.762A5.998 5.998 0 0 1 19.5 18ZM4 7.5a3.5 3.5 0 0 1 5.477-2.889 5.5 5.5 0 0 0-2.796 6.293A3.501 3.501 0 0 1 4 7.5ZM7.1 12H6a4 4 0 0 0-4 4 2 2 0 0 0 2 2h.5a5.998 5.998 0 0 1 3.071-5.238A5.505 5.505 0 0 1 7.1 12Z"
					clip-rule="evenodd" />
			</svg>
			<span class="font-semibold text-lg">Clientes</span>
		</a>
		<a routerLink="/items"
			class="bg-red-300 rounded-xl shadow-lg p-6 flex flex-col items-center justify-center hover:bg-red-200 transition cursor-pointer">
			<svg class="w-10 h-10 mb-2 text-primary-700 dark:text-primary-400" fill="none" stroke="currentColor"
				stroke-width="2" viewBox="0 0 24 24">
				<path stroke-linecap="round" stroke-linejoin="round"
					d="M20 13V7a2 2 0 00-2-2H6a2 2 0 00-2 2v6m16 0a2 2 0 01-2 2H6a2 2 0 01-2-2m16 0V17a2 2 0 01-2 2H6a2 2 0 01-2-2v-4" />
			</svg>
			<span class="font-semibold text-lg">Productos</span>
		</a>
		<a routerLink="/categories"
			class="bg-indigo-300 rounded-xl shadow-lg p-6 flex flex-col items-center justify-center hover:bg-indigo-200 transition cursor-pointer">
			<svg class="w-10 h-10 text-gray-800 dark:text-black" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
				width="24" height="24" fill="none" viewBox="0 0 24 24">
				<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
					d="M12 11H4m15.5 5a.5.5 0 0 0 .5-.5V8a1 1 0 0 0-1-1h-3.75a1 1 0 0 1-.829-.44l-1.436-2.12a1 1 0 0 0-.828-.44H8a1 1 0 0 0-1 1M4 9v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-7a1 1 0 0 0-1-1h-3.75a1 1 0 0 1-.829-.44L9.985 8.44A1 1 0 0 0 9.157 8H5a1 1 0 0 0-1 1Z" />
			</svg>
			<span class="font-semibold text-lg">Categorías</span>
		</a>
		<a routerLink="/suppliers"
			class="bg-blue-300 rounded-xl shadow-lg p-6 flex flex-col items-center justify-center hover:bg-blue-200 transition cursor-pointer">
			<svg class="w-10 h-10 mb-2 text-primary-700 dark:text-primary-400" fill="none" stroke="currentColor"
				stroke-width="2" viewBox="0 0 24 24">
				<path stroke-linecap="round" stroke-linejoin="round"
					d="M17 20h5v-2a4 4 0 00-3-3.87M9 20h6M3 20h5v-2a4 4 0 013-3.87M16 7a4 4 0 11-8 0 4 4 0 018 0z" />
			</svg>
			<span class="font-semibold text-lg">Proveedores</span>
		</a>
		<a routerLink="/purchaseReports"
			class="bg-gray-300 rounded-xl shadow-lg p-6 flex flex-col items-center justify-center hover:bg-gray-200 transition cursor-pointer">
			<svg class="w-10 h-10 text-gray-800 dark:text-black" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
				width="24" height="24" fill="none" viewBox="0 0 24 24">
				<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
					d="M8 6h8M6 10h12M8 14h8M6 18h12" />
			</svg>
			<span class="font-semibold text-lg">Informes de Compra</span>
		</a>
	</div>
</div>