<app-spinner-loading *ngIf="loading"></app-spinner-loading>
<ng-container *ngIf="errorMessage; else budgetsBlock">
  <app-errors [errorMessage]="errorMessage"></app-errors>
</ng-container>
<ng-template #budgetsBlock>
  <ng-container *ngIf="budgets">
      <ng-container *ngIf="budgets.count > 0; else noRecords">
        <div *ngIf="showFilters" class="mb-4">
          <app-search-filters [dataScreen]="dataScreen"
            (updateSearching)="updateSearching($event)"></app-search-filters>
        </div>
        <div class="budgets-container">
          <div class="flex mb-4">
            <button (click)="openTaskDialog('add', null)" class="btn-primary w-3/4">
              <svg class="w-5 h-5 fill-current" viewBox="0 0 20 20">
                <path
                  d="M14.613,10c0,0.23-0.188,0.419-0.419,0.419H10.42v3.774c0,0.23-0.189,0.42-0.42,0.42s-0.419-0.189-0.419-0.42v-3.774H5.806c-0.23,0-0.419-0.189-0.419-0.419s0.189-0.419,0.419-0.419h3.775V5.806c0-0.23,0.189-0.419,0.419-0.419s0.42,0.189,0.42,0.419v3.775h3.774C14.425,9.581,14.613,9.77,14.613,10" />
              </svg>
              <span class="text-sm md:text-base">Nuevo Presupuesto</span>
            </button>

            <button (click)="showFilters = !showFilters"
              class="w-1/4 ml-4 btn-secondary">
              <svg class="w-5 h-5 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M3 4a1 1 0 011-1h16a1 1 0 011 1v2.586a1 1 0 01-.293.707l-6.414 6.414a1 1 0 00-.293.707V17l-4 4v-6.586a1 1 0 00-.293-.707L3.293 7.293A1 1 0 013 6.586V4z">
                </path>
              </svg>
              Filtros
            </button>
          </div>

          <div class="hidden lg:block mb-4 main-content">
            <table class="min-w-full rounded-xl overflow-hidden shadow-lg">
              <thead class="bg-gray-100">
                <tr>
                  <th class="px-4 py-2 text-left">Nombre</th>
                  <th class="px-4 py-2 text-left">Cliente</th>
                  <th class="px-4 py-2 text-left">Fecha</th>
                  <th class="px-4 py-2 text-left">Precio</th>
                  <th class="px-4 py-2 text-left">Precio Imp.</th>
                  <th class="px-4 py-2 text-left">Estado</th>
                  <th class="px-4 py-2 text-left">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let b of budgets.data" class="border-b last:border-none hover:bg-gray-50">
                  <td class="px-4 py-2 font-semibold">{{ b.Name }}</td>
                  <td class="px-4 py-2">{{ b.ClientName }}</td>
                  <td class="px-4 py-2">{{ b.Date }}</td>
                  <td class="px-4 py-2">{{ b.Price }} €</td>
                  <td class="px-4 py-2">{{ b.PriceImp }} €</td>
                  <td class="px-4 py-2">
                    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full" [ngClass]="{
                      'bg-green-100 text-green-800': b.CloseIt,
                      'bg-yellow-100 text-yellow-800': !b.CloseIt
                    }">
                      {{ b.CloseIt ? 'Cerrado' : 'Pendiente' }}
                    </span>
                  </td>
                  <td class="px-4 py-2">
                    <div class="flex gap-2">
                      <a (click)="openTaskDialog('view',b)" class="cursor-pointer flex items-center"
                        title="Ver detalles">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                          stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                        </svg>
                      </a>
                      <a (click)="openTaskDialog('edit', b)" class="cursor-pointer flex items-center" title="Editar">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                          stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M15.232 5.232l3.536 3.536M9 13l6.536-6.536a2 2 0 112.828 2.828L11.828 15.828a2 2 0 01-2.828 0L9 13z" />
                        </svg>
                      </a>
                      <a (click)="deleteBudget(b.Id)" class="cursor-pointer flex items-center" title="Eliminar">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                          stroke="currentColor">
                          <path d="M3 6h18" />
                          <path d="M8 6V4a2 2 0 012-2h4a2 2 0 012 2v2" />
                          <path d="M19 6l-1 14a2 2 0 01-2 2H8a2 2 0 01-2-2L5 6" />
                          <path d="M10 11v6" />
                          <path d="M14 11v6" />
                        </svg>
                      </a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="block lg:hidden">
            <div *ngFor="let b of budgets.data"
              class="rounded-xl shadow-xl bg-white border border-gray-200/60 p-4 mb-6 flex flex-col gap-2 transition-all">
              <div class="flex justify-between items-center">
                <span class="font-semibold text-lg text-black">{{ b.Name }}</span>
                <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full" [ngClass]="{
                  'bg-green-100 text-green-800': b.CloseIt,
                  'bg-yellow-100 text-yellow-800': !b.CloseIt
                }">
                  {{ b.CloseIt ? 'Cerrado' : 'Pendiente' }}
                </span>
              </div>
              <div class="text-sm text-black">Cliente: <span class="font-bold text-black">{{ b.ClientName }}</span>
              </div>
              <div class="text-sm text-black">Fecha: <span class="font-bold text-black">{{ b.Date }}</span></div>
              <div class="text-sm text-black">Precio: <span class="font-bold text-black">{{ b.Price }} €</span></div>
              <div class="text-sm text-black">Precio con impuestos: <span class="font-bold text-black">{{ b.PriceImp }}
                  €</span></div>
              <div class="flex flex-wrap gap-2 justify-end mt-2">
                <a (click)="openTaskDialog('view', b)" class="cursor-pointer text-black p-2 flex items-center"
                  title="Ver detalles">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                  </svg>
                </a>
                <a (click)="openTaskDialog('edit', b)" class="cursor-pointer text-black p-2 flex items-center"
                  title="Editar">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M15.232 5.232l3.536 3.536M9 13l6.536-6.536a2 2 0 112.828 2.828L11.828 15.828a2 2 0 01-2.828 0L9 13z" />
                  </svg>
                </a>
                <a (click)="deleteBudget(b.Id)" class="cursor-pointer text-black p-2 flex items-center"
                  title="Eliminar">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path d="M3 6h18" />
                    <path d="M8 6V4a2 2 0 012-2h4a2 2 0 012 2v2" />
                    <path d="M19 6l-1 14a2 2 0 01-2 2H8a2 2 0 01-2-2L5 6" />
                    <path d="M10 11v6" />
                    <path d="M14 11v6" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
        <app-paginator [allItems]="allBudgets" (updateItems)="updateItems($event)"></app-paginator>
    </ng-container>
    <ng-template #noRecords>
        <div class="flex items-center justify-center min-h-screen w-full bg-white">
          <div class="text-center py-12">
            <svg class="mx-auto h-12 w-12 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor"
              aria-hidden="true">
              <path vector-effect="non-scaling-stroke" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M9 13h6m-3-3v6m-9 1V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z" />
            </svg>
            <h3 class="mt-2 text-sm font-semibold text-gray-900">No hay presupuestos</h3>
            <p class="mt-1 text-sm text-gray-500">Empieza por crear uno.</p>
            <div class="mt-6">
              <button (click)="openTaskDialog('add', null)" type="button"
                class="inline-flex items-center rounded-md bg-blue-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600">
                <svg class="-ml-0.5 mr-1.5 h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path
                    d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
                </svg>
                Nuevo Presupuesto
              </button>
            </div>
          </div>
        </div>
  </ng-template>