
<header>
  <nav class="bg-white border-b border-gray-200 px-4 py-2.5 dark:bg-gray-900 text-gray-900 dark:text-white">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
      <a routerLink="/home" class="flex items-center">
        <img src="/assets/images/autill_logo.png" class="mr-3 h-14 sm:h-20" alt="Autill Logo" />
      </a>
      <div class="flex items-center lg:order-2">
        <!-- Opciones solo visibles en desktop -->
        <a routerLink="/userInfo" class="hidden lg:flex text-gray-800 dark:text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-3 py-2 mr-2 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800 items-center">
          Datos Personales
          <img class="ml-2 w-7 h-7 rounded" src="https://img.icons8.com/?size=100&id=AZazdsitsrgg&format=png&color=fefefe" />
        </a>
        <a href="#" (click)="logout()" class="hidden lg:flex text-gray-800 dark:text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-3 py-2 mr-2 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800 items-center">
          Cerrar Sesión
          <img class="ml-2 w-7 h-7 rounded" src="https://img.icons8.com/?size=100&id=Wgd88M98QIxt&format=png&color=fefefe" />
        </a>
        <button (click)="toggleMenu()" type="button" class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="mobile-menu" aria-expanded="false">
          <span class="sr-only">Abrir menú principal</span>
          <svg *ngIf="!isMenuOpen" class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
          <svg *ngIf="isMenuOpen" class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </button>
      </div>
      <div [ngClass]="{'block': isMenuOpen, 'hidden': !isMenuOpen, 'lg:flex': true}" class="w-full lg:w-auto lg:order-1" id="mobile-menu">
        <ul class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0">
          <li>
            <a routerLink="/home" routerLinkActive="bg-primary-700 text-white lg:bg-transparent" [routerLinkActiveOptions]="{ exact: true }" class="block py-2 pr-4 pl-3 text-gray-700 rounded lg:text-primary-700 lg:p-0 dark:text-white" (click)="screenWidth < 1024 && toggleMenu()">Inicio</a>
          </li>
          <li>
            <a routerLink="/bills" routerLinkActive="bg-primary-700 text-white lg:bg-transparent" [routerLinkActiveOptions]="{ exact: true }" class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700" (click)="screenWidth < 1024 && toggleMenu()">Facturas</a>
          </li>
          <li>
            <a routerLink="/budgets" routerLinkActive="bg-primary-700 text-white lg:bg-transparent" [routerLinkActiveOptions]="{ exact: true }" class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700" (click)="screenWidth < 1024 && toggleMenu()">Presupuestos</a>
          </li>
          <li>
            <a routerLink="/clients" routerLinkActive="bg-primary-700 text-white lg:bg-transparent" [routerLinkActiveOptions]="{ exact: true }" class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700" (click)="screenWidth < 1024 && toggleMenu()">Clientes</a>
          </li>
          <li>
            <a routerLink="/items" routerLinkActive="bg-primary-700 text-white lg:bg-transparent" [routerLinkActiveOptions]="{ exact: true }" class="block py-2 pr-4 pl-3 text-gray-700 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent" (click)="screenWidth < 1024 && toggleMenu()">Productos / Servicios</a>
          </li>
          <!-- Opciones solo visibles en móviles/tablets -->
          <li class="lg:hidden">
            <a routerLink="/userInfo" routerLinkActive="text-white" class="block py-2 pr-4 pl-3 text-gray-800 dark:text-white hover:bg-gray-50 dark:hover:text-gray-900 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm" (click)="toggleMenu()">
              Datos Personales
              <img class="ml-2 w-7 h-7 rounded inline-block transition duration-200" src="https://img.icons8.com/?size=100&id=AZazdsitsrgg&format=png&color=fefefe" style="filter: brightness(0.2);" />
            </a>
          </li>
          <li class="lg:hidden">
            <a href="#" class="block py-2 pr-4 pl-3 text-gray-800 dark:text-white hover:bg-gray-50 dark:hover:text-gray-900 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm" (click)="logout(); toggleMenu();">
              Cerrar Sesión
              <img class="ml-2 w-7 h-7 rounded inline-block transition duration-200" src="https://img.icons8.com/?size=100&id=Wgd88M98QIxt&format=png&color=fefefe" style="filter: brightness(0.2);" />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>