/* El nav activo solo tendrá color de texto blanco en escritorio y fondo azul en móvil/tablet */

/* Usa el color hexadecimal real de primary-700 de Tailwind (ajusta si tu tailwind.config.js tiene otro valor) */
.active-header {
  background-color: #fff;
  color: black;
}

@media (min-width: 1024px) {
  .active-header {
    background-color: transparent;
    color: black;
  }
}